@charset "UTF-8";
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos # suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
  font-smooth: always;
}

.tipografia-gruesa {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
}

.tipografia-fina {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

header .inicio {
  background-image: linear-gradient(to right, rgba(5, 5, 5, 0.831372549) 50%, rgba(255, 255, 255, 0.1294117647)), url(../../images/header_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
@media screen and (min-width: 767px) {
  header .inicio {
    background-image: linear-gradient(to right, rgba(5, 5, 5, 0.9019607843) 40%, rgba(255, 255, 255, 0.2)), url(../../images/header_desktop.jpg);
  }
}
header .inicio article .inicio-fondo-imagen {
  padding: 1.5em;
  margin-top: 2em;
}
@media screen and (min-width: 767px) {
  header .inicio article .inicio-fondo-imagen {
    padding-left: 6em;
    padding-right: 6em;
  }
}
header .inicio article .inicio-fondo-imagen .presentacion .titulo {
  font-size: 3.5rem;
  line-height: 1.4em;
}
header .inicio article .inicio-fondo-imagen .presentacion .texto {
  padding-bottom: 0.2em;
}
@media screen and (min-width: 767px) {
  header .inicio article .inicio-fondo-imagen .presentacion {
    width: 50vw;
    margin-top: auto;
    margin-bottom: auto;
  }
}

footer .footer-container {
  background-color: #191c1f;
  height: 15vh;
  padding: 0 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-container .img-logo {
  width: 20px;
  height: 20px;
}
footer .footer-container .redes-container {
  display: flex;
  justify-content: space-between;
}
footer .footer-container .redes-container li a .svg {
  display: inline;
  width: 30px;
  height: 30px;
  margin: 20px;
  padding: 0;
}

.boton-rojo {
  background-color: #e82e2c;
  border-radius: 5px;
  display: inline-block;
  padding: 1em;
  margin-top: 1em;
}
.boton-rojo .svg {
  display: inline;
  width: 1em;
  height: 1em;
  padding-right: 0.1em;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
@media screen and (min-width: 767px) {
  .logo-container {
    justify-content: left;
    padding-left: 6em;
  }
}
.logo-container .img-logo {
  width: 20px;
  height: 20px;
  padding-right: 0.3em;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .img-container .img {
  width: 100%;
  max-height: 100%;
  box-shadow: 15px 15px #e82e2c;
}
@media screen and (min-width: 767px) {
  main .img-container .img {
    width: 40vw;
  }
}
main .info_textos {
  width: 40vw;
  line-height: 1.4em;
}
main .info_textos .info-title {
  font-size: 2rem;
  line-height: 1.4em;
}
main .beneficios-section {
  height: 60vh;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  main .beneficios-section {
    height: 30vh;
    padding-left: 6em;
    padding-right: 6em;
  }
}
main .beneficios-section .beneficios {
  width: 100%;
  line-height: 2em;
}
@media screen and (min-width: 767px) {
  main .beneficios-section .beneficios {
    line-height: 1.6em;
  }
}
main .beneficios-section .beneficios .container {
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
@media screen and (min-width: 767px) {
  main .beneficios-section .beneficios .container {
    flex-direction: row;
    align-items: center;
  }
}
main .beneficios-section .beneficios .container .typo-grande {
  font-size: 2rem;
}
main .beneficios-section .beneficios .container .typo-chica {
  font-size: 1.2rem;
}
main .beneficios-section .beneficios .container p {
  text-align: center;
}
@media screen and (min-width: 767px) {
  main .beneficios-section .beneficios .container p {
    text-align: left;
  }
}
main .info-lugar-section {
  background-color: #191c1f;
  height: 100vh;
  padding: 4em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  main .info-lugar-section {
    height: 90vh;
    padding-left: 6em;
    padding-right: 6em;
  }
}
main .info-lugar-section article {
  width: 100%;
  height: 100%;
}
main .info-lugar-section article .container {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 767px) {
  main .info-lugar-section article .container {
    flex-direction: row;
    align-items: center;
  }
}
main .info-lugar-section article .container .info_textos {
  width: 100%;
}
main .info-lugar-section article .container .info_textos h4 {
  font-size: 1.2rem;
}
main .info-lugar-section article .container .info_textos h3 {
  font-size: 2rem;
  padding-bottom: 1em;
}
main .info-lugar-section article .container .info_textos div .check li {
  font-size: 1.2rem;
  padding-bottom: 0.6em;
}
main .info-lugar-section article .container .info_textos div .check li .check-svg {
  width: 16px;
  height: 16px;
  display: inline;
}
main .info-dueño-section {
  height: 100vh;
  padding: 4em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  main .info-dueño-section {
    height: 90vh;
    padding-left: 6em;
    padding-right: 6em;
  }
}
main .info-dueño-section article {
  width: 100%;
  height: 100%;
}
main .info-dueño-section article .container {
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 767px) {
  main .info-dueño-section article .container {
    flex-direction: row;
    align-items: center;
  }
}
main .info-dueño-section article .container .info_textos {
  width: 100%;
}
main .info-dueño-section article .container .info_textos h4 {
  font-size: 1.2rem;
}
main .info-dueño-section article .container .info_textos h3 {
  font-size: 2rem;
  padding-bottom: 0.5em;
}
main .final {
  background-image: linear-gradient(to right, rgba(5, 5, 5, 0.831372549) 50%, rgba(255, 255, 255, 0.1294117647)), url(../../images/final_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  main .final {
    background-image: linear-gradient(to right, rgba(5, 5, 5, 0.9019607843) 40%, rgba(255, 255, 255, 0.2)), url(../../images/final_desktop.jpg);
  }
}
main .final .final-container {
  padding: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  main .final .final-container {
    padding-left: 6em;
    padding-right: 6em;
  }
}
main .final .final-container .presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .final .final-container .presentacion .titulo {
  font-size: 3.5rem;
  line-height: 1.4em;
  padding-bottom: 0.7em;
}
@media screen and (min-width: 767px) {
  main .final .final-container .presentacion {
    max-width: 50vw;
    max-height: 90%;
  }
}

body {
  background-color: #1f2327;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */