$color_1: #ffffff;
$color_2: #cfcfcf;
$color_3: #3c3c3c;
$color_4: #1f2327;
$color_5: #191c1f;
$color_6: #e82e2c;

$gradient_white_desktop: #ffffff33;
$gradient_black_desktop: #050505e6;
$gradient_white_mobile: #ffffff21;
$gradient_black_mobile: #050505d4;

$typography-font: "Barlow", sans-serif;
$typography-normal: 400;
$typography-bold: 800;
