$color_1: #ffffff;
$color_2: #f9f9f9;
$color_3: #3c3c3c;
$color_4: #1f2327;
$color_5: #191c1f;
$color_6: #e82e2c;

$gradient_white: #ffffff33;
$gradient_black: #050505e6;

$typography-font: 'Barlow', sans-serif;
$typography-normal: 400;
$typography-bold: 800;
