.boton-rojo {
  background-color: $color_6;
  border-radius: 5px;
  display: inline-block;
  padding: 1em;
  margin-top: 1em;
  transition: 500ms ease all;
  .svg {
    display: inline;
    width: 1em;
    height: 1em;
    padding-right: 0.1em;
  }
  &:hover {
    color: $color_2;
  }
}
