.boton-rojo {
    background-color: #e82e2c;
    border-radius: 5px;
    display: inline-block;
    padding: 1em;
    margin-top: 1em;
        .svg {
            display: inline;
            width: 1em;
            height: 1em;
            padding-right: .1em;
            
        }
}